# Machine Learning Klarna `Default` Probabability Prediction

## Project Setup

### Dependencies importing

In [1]:
# Auto reload imported module every time a jupyter cell is executed
%load_ext autoreload
%autoreload 2

In [6]:
import numpy as np
import pandas as pd

## Data sourcing

#### **Read URL**, **Get CSV files** and **store CSV in local**  *(optional do it at begining or to refresh CSV data)*

#### **Read raw CSV** and **Set dataframe**

In [14]:
data_raw = pd.read_csv('../raw_data/dataset.csv', sep=';') ; template_raw = pd.read_csv('../raw_data/template.csv', sep=';')

In [18]:
data_raw.tail(7)

,uuid,default,account_amount_added_12_24m,account_days_in_dc_12_24m,account_days_in_rem_12_24m,account_days_in_term_12_24m,account_incoming_debt_vs_paid_0_24m,account_status,account_worst_status_0_3m,account_worst_status_12_24m,...,status_3rd_last_archived_0_24m,status_max_archived_0_6_months,status_max_archived_0_12_months,status_max_archived_0_24_months,recovery_debt,sum_capital_paid_account_0_12m,sum_capital_paid_account_12_24m,sum_paid_inv_0_12m,time_hours,worst_status_active_inv
99969,57e92a56-7145-4ea2-92d5-fb79388d82c1,NaN,0,365.0,0.0,0.0,0.371604,1.0,1.0,4.0,...,0,0,0,0,0,7695,1025,895,11.290833,NaN
99970,0e5e16e1-7a8b-41a8-bc9d-8fac11e3abc1,NaN,88405,0.0,15.0,0.0,0.672000,2.0,2.0,2.0,...,0,0,0,1,0,28870,25771,0,9.060833,NaN
99971,5c03bc63-ea65-4ffd-aa7b-95ea9a46db34,NaN,0,0.0,0.0,0.0,NaN,1.0,1.0,NaN,...,1,1,1,1,0,0,0,60127,10.765556,NaN
99972,f8db22f4-9819-420c-abbc-9ddf1843176e,NaN,0,0.0,0.0,0.0,0.004044,1.0,1.0,NaN,...,1,0,1,1,0,7948,0,4740,21.708333,NaN
99973,b22e21ea-b1b2-4df3-b236-0ff6d5fdc0d8,NaN,45671,0.0,20.0,0.0,0.705078,2.0,2.0,2.0,...,0,0,0,0,0,17447,19627,3100,2.185278,NaN
99974,bafcab15-9898-479c-b729-c9dda7edb78f,NaN,56102,0.0,0.0,0.0,0.064175,1.0,2.0,1.0,...,1,1,1,1,0,18339,56180,34785,9.725278,NaN
99975,ac88f18c-96a6-49bc-9e9d-a780225914af,NaN,0,0.0,0.0,0.0,NaN,1.0,1.0,NaN,...,1,2,2,2,0,0,0,30602,11.585278,NaN

In [17]:
template_raw

                                   uuid    pd
0  6f6e6c6a-2081-4e6b-8eb3-4fd89b54b2d7  0.01
1  f6f6d9f3-ef2b-4329-a388-c6a687f27e70  0.01
2  e9c39869-1bc5-4375-b627-a2df70b445ea  0.01
3  6beb88a3-9641-4381-beb6-c9a208664dd0  0.01
4  bb89b735-72fe-42a4-ba06-d63be0f4ca36  0.01
5  e4eede99-76a3-4437-a540-3059a1eff67c  0.01
6  a2af8d9e-9f81-4185-8fff-b2ec49d681a6  0.01
7  ec910486-1e66-402a-80f2-08c6f04a9a1b  0.01
8  08973cf0-646a-4fa7-9f1f-d03f76ffd59c  0.01